<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Type Hinted Arrays test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <!-- you can keep your own options in these elements -->
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- this is the path of the files included in your clover report -->
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <!-- and this is where your report will be written -->
        <log type="coverage-clover" target="./clover.xml"/>
    </logging>
</phpunit>
